<%#
 Copyright 2013-2018 the original author or authors from the JHipster project.

 This file is part of the JHipster project, see https://www.jhipster.tech/
 for more information.

 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
-%>
<div>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h2 jhiTranslate="reset.request.title">重置密码</h2>

            <form *ngIf="!success" [formGroup]="validateForm" name="form" role="form" (ngSubmit)="requestReset()"
                  #resetRequestForm="ngForm">
                <nz-form-item>
                    <nz-form-label [nzSpan]="6" [nzFor]="phoneNumber">绑定的手机号</nz-form-label>
                    <nz-form-control [nzSpan]="18">
                        <input type="text" nz-input formControlName="phoneNumber" placeholder="Your phoneNumber"
                               name="phoneNumber" id="phoneNumber">
                        <nz-form-explain
                                *ngIf="validateForm.get('phoneNumber').dirty && validateForm.get('phoneNumber').errors">
                            请输入有效手机号
                        </nz-form-explain>
                    </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                    <nz-form-label [nzSpan]="6" [nzFor]="verifyCode">验证码</nz-form-label>
                    <nz-form-control [nzSpan]="18">
                        <nz-row nzGutter="12">
                            <nz-col nzSpan="17">
                                <input type="text" nz-input formControlName="verifyCode" placeholder="verifyCode"
                                       name="verifyCode" id="verifyCode"
                                       [attr.disabled]="!validateForm.get('phoneNumber').dirty || validateForm.get('phoneNumber').errors">
                                <nz-form-explain
                                        *ngIf="validateForm.get('verifyCode').dirty && validateForm.get('verifyCode').errors">
                                    请输入验证码
                                </nz-form-explain>
                            </nz-col>
                            <nz-col nzSpan="4">
                                <button nz-button (click)="getResertPasswordCaptcha()"
                                        [disabled]="!validateForm.get('phoneNumber').dirty
                                            || validateForm.get('phoneNumber').errors
                                            || interval > 0">
                                    {{interval > 0 ? "重发验证码(" + interval + ")" : "获取验证码"}}
                                </button>
                            </nz-col>
                        </nz-row>
                    </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                    <nz-form-label [nzSpan]="6" [nzFor]="verifyCode">新密码</nz-form-label>
                    <nz-form-control [nzSpan]="18">
                        <input type="password" nz-input formControlName="password" placeholder="Password">
                        <nz-form-explain
                                *ngIf="validateForm.get('password').dirty && validateForm.get('password').errors">
                            密码不能为空
                        </nz-form-explain>
                    </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                    <nz-form-label [nzSpan]="6" [nzFor]="confirmPassword">确认密码</nz-form-label>
                    <nz-form-control [nzSpan]="18">
                        <input type="password" nz-input formControlName="confirmPassword" placeholder="confirmPassword">
                        <nz-form-explain
                                *ngIf="validateForm.get('confirmPassword').dirty && validateForm.get('confirmPassword').errors || validateForm.get('confirmPassword').value != validateForm.get('password').value">
                            <ng-container *ngIf="validateForm.get('confirmPassword').hasError('required')">
                                确认密码不能为空
                            </ng-container>
                            <ng-container *ngIf="validateForm.get('confirmPassword').value != validateForm.get('password').value && validateForm.get('confirmPassword').value">
                                两次输入密码不一样
                            </ng-container>
                        </nz-form-explain>
                    </nz-form-control>
                </nz-form-item>

                <nz-form-item style="text-align: center">
                    <nz-form-control>
                        <nz-row nzGutter="12">
                            <nz-col nzSpan="8"></nz-col>
                            <nz-col nzSpan="8">
                                <button type="submit" class="btn btn-primary" [disabled]="resetRequestForm.form.invalid">
                                    提交
                                </button>
                            </nz-col>
                            <nz-col nzSpan="8">
                                <a nz-button nzType="default" nzSize="large" (click)="previousState()">取消</a>
                            </nz-col>
                        </nz-row>
                    </nz-form-control>
                </nz-form-item>

            </form>
        </div>
    </div>
</div>
