<%#
 Copyright 2013-2018 the original author or authors from the JHipster project.

 This file is part of the JHipster project, see https://www.jhipster.tech/
 for more information.

 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
-%>
<page-header [title]="'日志管理'">
    <ng-template #breadcrumb>
        <nz-breadcrumb>
            <nz-breadcrumb-item>
                <a [routerLink]="['/admin']">管理</a>
            </nz-breadcrumb-item>
            <nz-breadcrumb-item>
                日志管理
            </nz-breadcrumb-item>
        </nz-breadcrumb>
    </ng-template>
</page-header>
<div class="page-content">
    <nz-card class="page-card">
        <input type="text" nz-input placeholder="搜索" [(ngModel)]="filters.name" (ngModelChange)="search()">
    </nz-card>
    <nz-card class="page-card">
        <nz-table #table
                  [nzData]="loggers"
                  [nzShowTotal]="pageMessage"
        >
            <ng-template #pageMessage>
                <span class="mr-md">共 {{loggers.length}} 项</span>
            </ng-template>
            <thead nzSingleSort>
            <tr>
                <th nzShowSort nzSortKey="name">
                    名称
                    <nz-dropdown nzTrigger="click" [nzClickHide]="false">
                        <i class="anticon anticon-filter ant-table-filter-icon"
                           [class.ant-table-filter-selected]="filters.name"
                           nz-dropdown></i>
                        <div class="custom-filter-dropdown">
                            <input type="text" nz-input name="name" id="list-filter-name" [(ngModel)]="filters.name" (ngModelChange)="search()">
                        </div>
                    </nz-dropdown>
                </th>
                <th nzShowSort nzSortKey="level">等级</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let data of table.data;trackBy: trackId">
                <td>{{data.name}}</td>
                <td>
                    <nz-slider
                            [nzMarks]="marks"
                            [nzIncluded]="false"
                            [nzMax]="6"
                            [nzMin]="1"
                            [ngModel]="levelToNumber(data.level)"
                            (ngModelChange)="changeLevel($event, data)"
                    ></nz-slider>
                </td>
            </tr>
            </tbody>
        </nz-table>
    </nz-card>
</div>
